<section class="whish-list-section theme1 pt-80 pb-80">
  <div class="container" *ngIf="carts.length">
      <div class="row">
          <div class="col-12">
              <h3 class="title mb-30 pb-25 text-capitalize">Your cart items</h3>
              <div class="table-responsive">
                  <table class="table">
                      <thead class="thead-light">
                          <tr>
                              <th class="text-center" scope="col">Product Image</th>
                              <th class="text-center" scope="col">Product Name</th>
                              <th class="text-center" scope="col">Stock Status</th>
                              <th class="text-center" scope="col">Qty</th>
                              <th class="text-center" scope="col">Price</th>
                              <th class="text-center" scope="col">action</th>

                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let cart of carts">
                              <th class="text-center" scope="row">
                                  <img [src]="prefUrlImage+cart.product.image"  alt="img">
                              </th>
                              <td class="text-center">
                                  <span class="whish-title">{{cart.product.name}}</span>
                              </td>
                              <td class="text-center">
                                  <span class="badge badge-success position-static">{{cart.product.stock}}</span>
                              </td>
                              <td class="text-center">
                                  <div class="product-count style">
                                      <div class="count d-flex justify-content-center">
                                          <input type="text" [value]= "cart.number" disabled>
                                          <div class="button-group">
                                              <button (click)="addProduct(cart.product)" class="count-btn increment"><i
                                                class="fas fa-chevron-up"></i></button>
                                              <button (click)="deleteProduct(cart.product)"class="count-btn decrement"><i
                                                class="fas fa-chevron-down"></i></button>
                                          </div>
                                      </div>
                                  </div>
                              </td>
                              <td class="text-center">
                                  <span class="whish-list-price">
                                {{ (cart.product.price * cart.number).toFixed(2)}} €
                            </span></td>

                              <td class="text-center">
                                  <a href="#"> <span class="trash"><i class="fas fa-trash-alt"></i> </span></a>
                              </td>

                          </tr>

                      </tbody>
                  </table>
              </div>
          </div>
          <div class="col-12">
              <a routerLink="/checkout" class="btn btn-block theme-btn--dark1 btn--lg mt-70">buy now</a>
          </div>
      </div>
  </div>
  <div class="container" *ngIf="!carts.length">
      <h3 class="title mb-30 pb-25 text-capitalize">Your cart is empty</h3>
      <a routerLink="/shop" class="btn btn-block theme-btn--dark1 btn--lg mt-70">Go back to shop</a>
  </div>
</section>
